Assignment1/WebContent/WEB-INF/services/TimeSeriesBuildingService/META-INF/TimeSeriesBuildingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sltf.unsw.edu.au/services" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://sltf.unsw.edu.au/services" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sltf.unsw.edu.au/services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation>Web service interface for COMP9322 assignment 1 (TimeSeries)</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sltf.unsw.edu.au/services" xmlns:tns="http://sltf.unsw.edu.au/services">
            <xs:element name="buildTimeSeries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="eventSetId" nillable="false" type="xs:string"/>
                        <xs:element name="timeIntervalDuration" nillable="false" type="xs:integer"/>
                        <xs:element name="timeIntervalUnit" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="buildTimeSeriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="eventSetId" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:simpleType name="timeSeriesFaultType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="InvalidEventSetId"/>
                    <xs:enumeration value="InvalidInterval"/>
                    <xs:enumeration value="ProgramError"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="buildTimeSeriesFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="faultType" nillable="false" type="tns:timeSeriesFaultType"/>
                        <xs:element name="faultMessage" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="buildTimeSeriesFault">
    <wsdl:part name="parameters" element="ns:buildTimeSeriesFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildTimeSeriesResponse">
    <wsdl:part name="parameters" element="ns:buildTimeSeriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildTimeSeriesRequest">
    <wsdl:part name="parameters" element="ns:buildTimeSeries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TimeSeriesBuildingServicePortType">
    <wsdl:operation name="buildTimeSeries">
      <wsdl:input message="ns:buildTimeSeriesRequest" wsaw:Action="urn:buildTimeSeries">
    </wsdl:input>
      <wsdl:output message="ns:buildTimeSeriesResponse" wsaw:Action="urn:buildTimeSeriesResponse">
    </wsdl:output>
      <wsdl:fault name="mainFault" message="ns:buildTimeSeriesFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimeSeriesBuildingServiceSoap11Binding" type="ns:TimeSeriesBuildingServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="buildTimeSeries">
      <soap:operation soapAction="urn:buildTimeSeries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mainFault">
        <soap:fault name="mainFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeSeriesBuildingService">
    <wsdl:port name="TimeSeriesBuildingServiceHttpSoap11Endpoint" binding="ns:TimeSeriesBuildingServiceSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/TimeSeriesBuildingService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
